In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [3]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1086,tt0234215,150000000,738599701,The Matrix Reloaded,Keanu Reeves|Carrie-Anne Moss|Laurence Fishbur...,Lilly Wachowski|Lana Wachowski,Free your mind.,Six months after the events depicted in The Ma...,138,Adventure|Action|Thriller|Science Fiction,Village Roadshow Pictures|NPV Entertainment|He...,5/15/2003,6.6,2003
581,tt0211465,15000000,12000000,Knockaround Guys,Barry Pepper|Andy Davoli|Seth Green|Vin Diesel...,Brian Koppelman|David Levien,"If they don't finish the job, their fathers wi...",Four sons of well-known New York mobsters must...,92,Crime|Thriller,Lawrence Bender Productions,9/7/2001,5.7,2001
1859,tt0134084,40000000,161834276,Scream 3,David Arquette|Neve Campbell|Courteney Cox|Pat...,Wes Craven,Someone has taken their love of trilogies one ...,"A murdering spree begins to happen again, this...",116,Horror|Mystery,Konrad Pictures|Craven-Maddalena Films|Dimensi...,2/3/2000,5.6,2000
286,tt0898367,32000000,27635305,The Road,Viggo Mortensen|Kodi Smit-McPhee|Charlize Ther...,John Hillcoat,In a moment the world changed forever.,A father and his son walk alone through burned...,111,Adventure|Drama,2929 Productions|Dimension Films|Nick Wechsler...,11/25/2009,6.7,2009
1145,tt0301470,17000000,63102666,Jeepers Creepers 2,Ray Wise|Jonathan Breck|Garikayi Mutambirwa|Er...,Victor Salva,He can taste your fear.,After 23 horrifying days of gorging on human f...,104,Horror|Thriller,United Artists|American Zoetrope|Myriad Pictur...,8/8/2003,5.4,2003

In [4]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [34]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [35]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [131]:
# тут пишем ваш код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data[data.budget == data.budget.max()].original_title
data = data.groupby(['original_title'])[['budget']].max().sort_values('original_title',ascending=False).idxmax()
display(data)

budget    Pirates of the Caribbean: On Stranger Tides
dtype: object

ВАРИАНТ 2

In [181]:
# можно добавлять разные варианты решения
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.budget == data.budget.max()]
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,5/11/2011,6.3,2011

# 2. Какой из фильмов самый длительный (в минутах)?

In [36]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'
# "+"

In [128]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = data.groupby(['original_title'])[['runtime']].min().sort_values('original_title', ascending=False).idxmax()
display(data)

runtime    Gods and Generals
dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [37]:
#ответ на вопрос №3:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
# "+"

In [122]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = data.groupby(['original_title'])[['runtime']].min().sort_values('original_title', ascending=False).idxmin()
display(data)

runtime    Winnie the Pooh
dtype: object

# 4. Какова средняя длительность фильмов?

In [38]:
#ответ на вопрос №4:
answers['4'] = '4. 110 минут'
# "+"

In [6]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = data.runtime.mean()
display(round(data,0))

110.0

# 5. Каково медианное значение длительности фильмов?

In [39]:
#ответ на вопрос №5:
answers['5'] = '5. 107 минут'
# "+"

In [14]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = data.runtime.median()
display(round(data,0))

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [0]:
# лучше код получения столбца profit вынести в Предобработку что в начале

In [40]:
#ответ на вопрос №6:
answers['6'] = '6. Avatar (tt0499549)'
# "+"

In [16]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data = data[data.profit == data.profit.max()]
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,12/10/2009,7.1,2009,2544505847

# 7. Какой фильм самый убыточный?

In [41]:
#ответ на вопрос №7:
answers['7'] = '7. The Lone Ranger (tt1210819)'
# "+"

In [17]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data = data[data.profit == data.profit.min()]
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [42]:
#ответ на вопрос №8:
answers['8'] = '8. 1478'
# "+"

In [21]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = len(data[data.revenue > data.budget])
display(data)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [43]:
#ответ на вопрос №9:
answers['9'] = '9. The Dark Knight (tt0468569)'
# "+"

In [23]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data = data[(data.release_year == 2008)]
data = data[data.profit == data.profit.max()]
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008,816921825

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [44]:
#ответ на вопрос №10:
answers['10'] = '10. The Lone Ranger (tt1210819)'
# "+"

In [25]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data = data[(data.release_year >= 2012) &  (data.release_year <= 2014)]
data = data[data.profit == data.profit.min()]
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,7/3/2013,6.0,2013,-165710090

# 11. Какого жанра фильмов больше всего?

In [0]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [45]:
#ответ на вопрос №11:
answers['11'] = '11. Drama'
# "+"

In [113]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
genres_count_movie = data.copy()
genres_count_movie = genres_count_movie.genres.str.split('|').explode('genres')
genres_count_movie = genres_count_movie.value_counts().idxmax()
display(genres_count_movie)

'Drama'

ВАРИАНТ 2

In [50]:
# код для решения данного вопроса вариант №2:
import pandas as pd
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
genres_count_movie = data.copy()
genres_count_movie = genres_count_movie.genres.str.split('|').explode('genres')
Counter(genres_count_movie).most_common(1)

[('Drama', 782)]

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [46]:
#ответ на вопрос №12:
answers['12'] = '12. Drama'
# "+"

In [112]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
data = data.query('profit>0')
genres_max_profit = data.copy()
genres_max_profit = genres_max_profit.genres.str.split('|').explode('genres')
genres_max_profit = genres_max_profit.value_counts().idxmax()
display(genres_max_profit)

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [47]:
#ответ на вопрос №13:
answers['13'] = '13. Peter Jackson'
# "+"

In [117]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = data.groupby(['director'])[['revenue']].sum().sort_values('revenue', ascending=False).idxmax()
display(data)

revenue    Peter Jackson
dtype: object

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [48]:
#ответ на вопрос №14:
answers['14'] = '14. Robert Rodriguez'
# "+"

In [109]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.genres.str.contains("Action", na=False)]
director_count_movie = data.copy()
director_count_movie = director_count_movie.director.str.split('|').explode('genres')
director_count_movie = director_count_movie.value_counts().idxmax()
display(director_count_movie)

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [49]:
#ответ на вопрос №15:
answers['15'] = '15. Chris Hemsworth'
# "+"

In [108]:
# код для решения данного вопроса:
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.release_year == 2012]
cast_max_revenue = data.copy()
cast_max_revenue.cast = cast_max_revenue.cast.str.split('|')
cast_max_revenue = cast_max_revenue.explode('cast')
cast_max_revenue = cast_max_revenue.groupby(['cast'])['revenue'].sum().sort_values(ascending=False).idxmax()
display(cast_max_revenue)

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [50]:
#ответ на вопрос №16:
answers['16'] = '16. Matt Damon'
# "+"

In [107]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.budget > data.budget.mean()]
cast_max_budget = data.copy()
cast_max_budget.cast = cast_max_budget.cast.str.split('|')
cast_max_budget = cast_max_budget.explode('cast')
cast_max_budget.cast.value_counts().idxmax()

'Matt Damon'

In [59]:
# код для решения данного вопроса вариант №2:
import pandas as pd
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')
data = data[data.budget > data.budget.mean()]
cast_max_budget = data.copy()
cast_max_budget.cast = cast_max_budget.cast.str.split('|')
cast_max_budget = cast_max_budget.explode('cast')
Counter(cast_max_budget.cast).most_common(1)

[('Matt Damon', 18)]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [51]:
#ответ на вопрос №17:
answers['17'] = '17. Action'
# "+"

In [106]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
genres_NC = data.copy()
genres_NC = genres_NC[genres_NC.cast.str.contains('Nicolas Cage')]
genres_NC = genres_NC.genres.str.split('|').explode('genres')
genres_NC = genres_NC.value_counts().idxmax()
display(genres_NC)

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [52]:
#ответ на вопрос №18:
answers['18'] = '18. K-19: The Widowmaker (tt0267626)'
# "+"

In [105]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
movie_min_profit = data.copy()
movie_min_profit = movie_min_profit[movie_min_profit.production_companies.str.contains('Paramount Pictures')]
movie_min_profit = movie_min_profit.groupby(['original_title'])['profit'].min().sort_values().idxmin()
display(movie_min_profit)

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [53]:
#ответ на вопрос №19:
answers['19'] = '19. 2015'
# "+"

In [102]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).idxmax()
display(data)

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [54]:
#ответ на вопрос №20:
answers['20'] = '20. 2014'
# "+"

In [101]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
WB_best_year = data.copy()
WB_best_year = WB_best_year[WB_best_year.production_companies.str.contains('Warner Bros')]
WB_best_year = WB_best_year.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).idxmax()
display(WB_best_year)

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
#ответ на вопрос №21:
answers['21'] = '21. Сентябрь'
# "+"

In [100]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
rel_date_split = data.copy()
# разделяем строку из столбца release_date на состовляющие списка
rel_date_split.release_date = rel_date_split.release_date.str.split('/')

def reldate (rd):
    '''
    Функция выбирает из созданного списка в стобце release_date только первое значение
    т.е. Месяц в столбце release_date. Цикл делает выборку по месяцу для всех значений в датафрейме.
    '''
    x = int()
    for i in rd:
        if i == rd[0]:
            x = i
        else:
            return ''
        return x

month_movie_sum = rel_date_split.copy()  
month_movie_sum.release_date = month_movie_sum.release_date.apply(reldate)        
month_movie_sum = month_movie_sum.release_date.value_counts().idxmax()
display(month_movie_sum)

'9'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [56]:
#ответ на вопрос №22:
answers['22'] = '22. 450'
# "+"

In [88]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
rel_date_split = data.copy()
# разделяем строку из столбца release_date на состовляющие списка
rel_date_split.release_date = rel_date_split.release_date.str.split('/')

def reldate (rd):
    '''
    Функция выбирает из созданного списка в стобце release_date только первое значение
    т.е. Месяц в столбце release_date. Цикл делает выборку по месяцу для всех значений в датафрейме.
    '''
    x = int()
    for i in rd:
        if i == rd[0]:
            x = i
        else:
            return ''
        return x

summer_movie_count = rel_date_split.copy()
summer_movie_count.release_date = summer_movie_count.release_date.apply(reldate)
# оставляем в датафрейме фильмы, которые выходили только в летнии месяцы
summer_movie_count = summer_movie_count[(summer_movie_count['release_date'] == '6') \
                                        | (summer_movie_count['release_date'] == '7') \
                                        | (summer_movie_count['release_date'] == '8')]
display(len(summer_movie_count))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [57]:
#ответ на вопрос №23:
answers['23'] = '23. Peter Jackson'
# "+"

In [99]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data.revenue - data.budget
rel_date_split = data.copy()
# разделяем строку из столбца release_date на состовляющие списка
rel_date_split.release_date = rel_date_split.release_date.str.split('/')

def reldate (rd):
    '''
    Функция выбирает из созданного списка в стобце release_date только первое значение
    т.е. Месяц в столбце release_date. Цикл делает выборку по месяцу для всех значений в датафрейме.
    '''
    x = int()
    for i in rd:
        if i == rd[0]:
            x = i
        else:
            return ''
        return x
    
winter_best_dir = rel_date_split.copy()
winter_best_dir.release_date = winter_best_dir.release_date.apply(reldate)
# оставляем в датафрейме фильмы, которые выходили только в зимние месяцы
winter_best_dir = winter_best_dir[(winter_best_dir['release_date'] == '1') \
                                  | (winter_best_dir['release_date'] == '2') \
                                  | (winter_best_dir['release_date'] == '12')]
# разделяем строку из столбца director на состовляющие списка
winter_best_dir.director = winter_best_dir.director.str.split('|')
# разделяем список director на отдельные строки
winter_best_dir = winter_best_dir.explode('director')
# группируем режиссеров по суммарному количеству фильмов, которые они выпустили зимой
winter_best_dir = winter_best_dir.groupby('director')['profit'].sum().sort_values(ascending=False).idxmax()
display(winter_best_dir)

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [58]:
#ответ на вопрос №24:
answers['24'] = '24. Four By Two Productions'
# "+"

In [98]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
title_split = data.copy()
# убираем пробелы из строки названия фильма
title_split.original_title = title_split.original_title.str.replace(' ','')

# создаем функцию с циклом по подсчету символов в названии для каждого фильма 
def titlle_len(tt):
    '''
    Функция подсчитывает кол-во символов в названии фильма в столбце original_title. 
    Цикл делает подсчет для каждого названия фильма в датафрейме.
    '''
    x = []
    for i in tt:
        x.append(i)
    return len(x)

title_length = title_split.copy()
# создаем столбец с длиной названия фильма 
title_length['title_len'] = title_length.original_title.apply(titlle_len)
# разделяем строку из столбца production_companies на состовляющие списка
title_length.production_companies = title_length.production_companies.str.split('|')
# разделяем список production_companies на отдельные строки
title_length = title_length.explode('production_companies')
# группируем компании по средней длине названий фильмов
title_length = title_length.groupby('production_companies')['title_len'].mean().sort_values(ascending=False).idxmax()
display(title_length)

'Four By Two Productions'

In [97]:
# код для решения данного вопроса вариант №2:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
title_split = data.copy()
title_split.original_title = title_split.original_title.str.replace(' ','')
title_length = title_split.copy()
# создаем столбец с длиной названия фильма
title_length['title_len'] = title_length.original_title.str.len()
title_length.production_companies = title_length.production_companies.str.split('|')
title_length = title_length.explode('production_companies')
title_length = title_length.groupby('production_companies')['title_len'].mean().sort_values(ascending=False).idxmax()
display(title_length)

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [59]:
#ответ на вопрос №25:
answers['25'] = '25. Midnight Picture Show'
# "+"

In [96]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
title_length = data.copy()
title_length['word_overview_len'] = title_length.overview.str.split(' ').str.len()
title_length.production_companies = title_length.production_companies.str.split('|')
title_length = title_length.explode('production_companies')
title_length = title_length.groupby('production_companies')['word_overview_len'].mean().idxmax()
display(title_length)

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [60]:
#ответ на вопрос №26:
answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'
# "+"

In [133]:
# код для решения данного вопроса:
import pandas as pd
data = pd.read_csv('movie_bd_v5.csv')
# создаем выборку данных для 1 процента лучших фильнов по рейтингу с помощью функции quantile
data = data[data.vote_average >= data.vote_average.quantile(0.99)]
display(data)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
9,tt2096673,175000000,853708609,Inside Out,Amy Poehler|Phyllis Smith|Richard Kind|Bill Ha...,Pete Docter,Meet the little voices inside your head.,"Growing up can be a bumpy road, and it's no ex...",94,Comedy|Animation|Family,Walt Disney Pictures|Pixar Animation Studios|W...,6/9/2015,8.0,2015
28,tt1895587,20000000,88346473,Spotlight,Mark Ruffalo|Michael Keaton|Rachel McAdams|Lie...,Tom McCarthy,Break the story. Break the silence.,The true story of how The Boston Globe uncover...,128,Drama|Thriller|History,Participant Media|Open Road Films|Anonymous Co...,11/6/2015,7.8,2015
34,tt3170832,6000000,35401758,Room,Brie Larson|Jacob Tremblay|Joan Allen|Sean Bri...,Lenny Abrahamson,Love knows no boundaries,Jack is a young boy of 5 years old who has liv...,117,Drama|Thriller,Element Pictures|No Trace Camping|A24|Duperele...,10/16/2015,8.0,2015
118,tt0816692,165000000,621752480,Interstellar,Matthew McConaughey|Jessica Chastain|Anne Hath...,Christopher Nolan,Mankind was born on Earth. It was never meant ...,Interstellar chronicles the adventures of a gr...,169,Adventure|Drama|Science Fiction,Paramount Pictures|Legendary Pictures|Warner B...,11/5/2014,8.0,2014
119,tt2015381,170000000,773312399,Guardians of the Galaxy,Chris Pratt|Zoe Saldana|Dave Bautista|Vin Dies...,James Gunn,All heroes start somewhere.,"Light years from Earth, 26 years after being a...",121,Action|Science Fiction|Adventure,Marvel Studios|Moving Picture Company (MPC)|Bu...,7/30/2014,7.9,2014
124,tt2245084,165000000,652105443,Big Hero 6,Scott Adsit|Ryan Potter|Daniel Henney|T.J. Mil...,Don Hall|Chris Williams,From the creators of Wreck-it Ralph and Frozen,The special bond that develops between plus-si...,102,Adventure|Family|Animation|Action|Comedy,Walt Disney Pictures|Walt Disney Animation Stu...,10/24/2014,7.8,2014
125,tt2084970,14000000,233555708,The Imitation Game,Benedict Cumberbatch|Keira Knightley|Matthew G...,Morten Tyldum,The true enigma was the man who cracked the code.,Based on the real life story of legendary cryp...,113,History|Drama|Thriller|War,Black Bear Pictures|Bristol Automotive,11/14/2014,8.0,2014
128,tt2267998,61000000,369330363,Gone Girl,Ben Affleck|Rosamund Pike|Carrie Coon|Neil Pat...,David Fincher,You don't know what you've got 'til it's...,With his wife's disappearance having become th...,145,Mystery|Thriller|Drama,Twentieth Century Fox Film Corporation|Regency...,10/1/2014,7.9,2014
138,tt2278388,30000000,174600318,The Grand Budapest Hotel,Ralph Fiennes|Tony Revolori|F. Murray Abraham|...,Wes Anderson,A perfect holiday without leaving home.,The Grand Budapest Hotel tells of a legendary ...,99,Comedy|Drama,Fox Searchlight Pictures|Scott Rudin Productio...,2/26/2014,7.9,2014
155,tt2980516,15000000,121201940,The Theory of Everything,Eddie Redmayne|Felicity Jones|Harry Lloyd|Davi...,James Marsh,His Mind Changed Our World. Her Love Changed His.,A look at the relationship between the famous ...,123,Drama|Romance,Working Title Films,11/26/2014,7.8,2014
177,tt2582846,12000000,305151265,The Fault in Our Stars,Shailene Woodley|Ansel Elgort|Nat Wolff|Laura ...,Josh Boone,One Sick Love Story,Despite the tumor-shrinking medical miracle th...,125,Romance|Drama,Fox 2000 Pictures|Temple Hill Entertainment|TS...,5/16/2014,7.8,2014
283,tt0485947,47000000,3547209,Mr. Nobody,Jared Leto|Diane Kruger|Linh Äan Pháº¡m|Sarah ...,Jaco Van Dormael,"Nothing is real, everything is possible.",Nemo Nobody leads an ordinary existence with h...,141,Science Fiction|Drama|Romance|Fantasy,Pan EuropÃ©enne Production|Virtual Films,9/11/2009,7.8,2009
316,tt1187043,9000000,70000000,3 Idiots,Aamir Khan|Kareena Kapoor|Madhavan|Sharman Jos...,Rajkumar Hirani,Don't BE A STUPID BE AN I.D.I.O.T.,In the tradition of â€œFerris Buellerâ€™s Day ...,170,Drama|Comedy|Romance,Vidhu Vinod Chopra Productions,12/23/2009,7.8,2009
370,tt1375666,160000000,825500000,Inception,Leonardo DiCaprio|Joseph Gordon-Levitt|Ellen P...,Christopher Nolan,Your mind is the scene of the crime.,"Cobb, a skilled thief who commits corporate es...",148,Action|Thriller|Science Fiction|Mystery|Adventure,Legendary Pictures|Warner Bros.|Syncopy,7/14/2010,7.9,2010
496,tt0120737,93000000,871368364,The Lord of the Rings: The Fellowship of the Ring,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,One ring to rule them all,"Young hobbit Frodo Baggins, after inheriting a...",178,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2001,7.8,2001
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,7/16/2008,8.1,2008
863,tt0167261,79000000,926287400,The Lord of the Rings: The Two Towers,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,A New Power Is Rising.,Frodo and Sam are trekking to Mordor to destro...,179,Adventure|Fantasy|Action,WingNut Films|New Line Cinema|The Saul Zaentz ...,12/18/2002,7.8,2002
872,tt0253474,35000000,120072577,The Pianist,Adrien Brody|Thomas Kretschmann|Frank Finlay|M...,Roman Polanski,Music was his passion. Survival was his master...,The Pianist is a film adapted from the biograp...,150,Drama|War,Bac Films|Canal+Polska|Heritage Films|Studio B...,9/24/2002,7.9,2002
1081,tt0167260,94000000,1118888979,The Lord of the Rings: The Return of the King,Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...,Peter Jackson,The eye of the enemy is moving.,Aragorn is revealed as the heir to the ancient...,201,Adventure|Fantasy|Action,WingNut Films|New Line Cinema,12/1/2003,7.9,2003
1183,tt0993846,100000000,392000694,The Wolf of Wall Street,Leonardo DiCaprio|Jonah Hill|Margot Robbie|Kyl...,Martin Scorsese,EARN. SPEND. PARTY.,A New York stockbroker refuses to cooperate in...,180,Crime|Drama|Comedy,Paramount Pictures|Appian Way|EMJAG Production...,12/25/2013,7.9,2013
1188,tt1798709,23000000,47351251,Her,Joaquin Phoenix|Scarlett Johansson|Rooney Mara...,Spike Jonze,A Spike Jonze Love Story,"In the not so distant future, Theodore, a lone...",126,Romance|Science Fiction|Drama,Annapurna Pictures,12/18/2013,7.8,2013
1191,tt2024544,20000000,187000000,12 Years a Slave,Chiwetel Ejiofor|Michael Fassbender|Lupita Nyo...,Steve McQueen,The extraordinary true story of Solomon Northup,"In the pre-Civil War United States, Solomon No...",134,Drama|History,Plan B Entertainment|Regency Enterprises|River...,10/18/2013,7.9,2013
1205,tt1392214,46000000,122126687,Prisoners,Hugh Jackman|Jake Gyllenhaal|Paul Dano|Maria B...,Denis Villeneuve,Every moment matters.,When Keller Dover's daughter and her friend go...,153,Drama|Thriller|Crime,Alcon Entertainment|Madhouse Entertainment|8:3...,9/18/2013,7.8,2013
1213,tt0790636,5000000,55198285,Dallas Buyers Club,Matthew McConaughey|Jennifer Garner|Jared Leto...,Jean-Marc VallÃ©e,Sometimes it takes a hustler to change the world,Loosely based on the true-life tale of Ron Woo...,117,Drama|History,Universal Studios|Universal Pictures|Voltage P...,9/7/2013,7.8,2013
1444,tt0482571,40000000,109676311,The Prestige,Hugh Jackman|Christian Bale|Michael Caine|Scar...,Christopher Nolan,Are You Watching Closely?,A mysterious story of two magicians whose inte...,130,Drama|Mystery|Thriller,Touchstone Pictures|Syncopy,10/19/2006,7.8,2006
1563,tt0338013,20000000,72258126,Eternal Sunshine of the Spotless Mind,Jim Carrey|Kate Winslet|Elijah Wood|Mark Ruffa...,Michel Gondry,I already forget how I used to feel about you.,"Joel Barish, heartbroken that his girlfriend u...",108,Science Fiction|Drama|Romance,Anonymous Content|This Is That Productions|Foc...,3/19/2004,7.8,2004
1688,tt0469494,25000000,76181545,There Will Be Blood,Daniel Day-Lewis|Paul Dano|Dillon Freasier|Cia...,Paul Thomas Anderson,There Will Be Greed. There Will Be Vengeance.,"When ruthless oil prospector, Daniel Plainview...",158,Drama,Miramax Films|Ghoulardi Film Company|Paramount...,12/28/2007,7.8,2007
1800,tt0209144,9000000,39723096,Memento,Guy Pearce|Carrie-Anne Moss|Joe Pantoliano|Mar...,Christopher Nolan,Some memories are best forgotten.,Suffering short-term memory loss after a head ...,113,Mystery|Thriller,Summit Entertainment|Newmarket Capital Group|T...,10/11/2000,7.9,2000

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [61]:
#ответ на вопрос №27:
answers['27'] = '27. Daniel Radcliffe & Rupert Grint'
# "+"

In [3]:
# код для решения данного вопроса:
import pandas as pd
from itertools import combinations
from itertools import chain
from collections import Counter 
data = pd.read_csv('movie_bd_v5.csv')
cast_split = data.copy()
cast_split.cast = cast_split.cast.str.split('|')
cast_split['cast_comb'] = cast_split.cast.apply(lambda x: list(combinations(x, 2)))
cast_comb_list1 = cast_split.cast_comb.tolist()
cast_comb_list2 = list(chain(*cast_comb_list1))
count_cast_comb = Counter()

# создаем цикл на подсчет повторяющихся элементов в списке
for word in cast_comb_list2:
    count_cast_comb[word] += 1

cast_combinations = pd.DataFrame(count_cast_comb, index = ['Sum_of_movie'])
cast_combinations = cast_combinations.transpose()
cast_combinations = cast_combinations[cast_combinations.Sum_of_movie == cast_combinations.Sum_of_movie.max()]
display(cast_combinations.idxmax())

Sum_of_movie    (Daniel Radcliffe, Rupert Grint)
dtype: object

ВАРИАНТ 2

In [141]:
import pandas as pd
from itertools import combinations
from itertools import chain
from collections import Counter 
data = pd.read_csv('movie_bd_v5.csv')

# создаем копию исходного датафрейма
cast_split = data.copy()

# разделяем строку из столбца cast на состовляющие списка
cast_split.cast = cast_split.cast.str.split('|')

# создаем столбец в котором будут разбиты пары актеров без повторений
cast_split['cast_comb'] = cast_split.cast.apply(lambda x: list(combinations(x, 2)))

# делаем из столбца список из списков
cast_comb_list1 = cast_split.cast_comb.tolist()

# объединяем отдельные списки в один список
cast_comb_list2 = list(chain(*cast_comb_list1))

# задаем переменную со счетчиком
count_cast_comb = Counter()

# создаем цикл на подсчет повторяющихся элементов в списке
for word in cast_comb_list2:
    count_cast_comb[word] += 1
    
# выводим результат    
display(count_cast_comb.most_common(1))

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

# Submission

In [62]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '4. 110 минут',
 '5': '5. 107 минут',
 '6': '6. Avatar (tt0499549)',
 '7': '7. The Lone Ranger (tt1210819)',
 '8': '8. 1478',
 '9': '9. The Dark Knight (tt0468569)',
 '10': '10. The Lone Ranger (tt1210819)',
 '11': '11. Drama',
 '12': '12. Drama',
 '13': '13. Peter Jackson',
 '14': '14. Robert Rodriguez',
 '15': '15. Chris Hemsworth',
 '16': '16. Matt Damon',
 '17': '17. Action',
 '18': '18. K-19: The Widowmaker (tt0267626)',
 '19': '19. 2015',
 '20': '20. 2014',
 '21': '21. Сентябрь',
 '22': '22. 450',
 '23': '23. Peter Jackson',
 '24': '24. Four By Two Productions',
 '25': '25. Midnight Picture Show',
 '26': '26. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '27. Daniel Radcliffe & Rupert Grint'}

In [63]:
# и убедиться что ни чего не пропустил)
len(answers)

27